MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ENDPOINT=minio:9000
BUCKET_BRONZE=bronze
BUCKET_SILVER=silver
BUCKET_GOLD=gold
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_NEWS=news_streaming
DWH_HOST=postgres_dwh
DWH_PORT=5432
DWH_DATABASE=news_warehouse
DWH_USER=dwh_admin
DWH_PASSWORD=dwh_password
POSTGRES_DB=news_warehouse
POSTGRES_USER=dwh_admin
POSTGRES_PASSWORD=dwh_password
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
